@color-black: #000000;
@color-white: #FFFFFF;
@color-endeavour: #005C9D;
@color-vulcan: #111424;
@color-transparent: transparent;
@color-light-brilliant-red: #FF2B2B;
@color-bright-cerulean:#1BAAD7;
@color-process-cyan:#02B9F3;
@color-tangaroa: #071739;
@color-macaroni-and-cheese: #FFC28A;
@color-mercury: #E4E4E4;
@color-eerie-black: #1C1C1C;
@color-anti-flash-white: #F3F3F4;

